<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a stream</title>
</head>
<body>
    {% include 'templates/header.html' %}
    <h4>Create a Stream</h4>
    <form method="post">
        <br><input type="text" name="streamname" placeholder="Must be alphanumeric">
        <br>Name your stream<br>
        <br><textarea name="subscribers" placeholder="subscriber emails comma separated" rows="3" cols="60"></textarea>
        <br><textarea name="message" placeholder="message to subscribers" rows="3" cols="60"></textarea>
        <br>Add subscribers<br>
        <br><input type="text" name="tags" placeholder="#tag space separated">
        <br>Tag your stream<br>
        <br><input type="text" name="coverurl" placeholder="">
        <br>URL to cover image (optional)<br>
        <br><input type="submit" name="createstream" value="Create Stream">
    </form>

</body>
</html>