<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Autocomplete - Default functionality</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


{#  <meta id="my-data" data-name="{{available2}}">#}

  <script>
      //alert('hello world');
      $(function() {
          var stream_name = [
            {% for i in available2 %}
                "{{i}}",
            {% endfor %}
            ];
        alert(stream_name);
        $( "#tags" ).autocomplete({
          source: stream_name
        });
      });
  </script>

</head>
<body>

<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
</div>


</body>
</html>