<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GeoView of {{stream_name}}</title>

    <!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
    <!--<script type="text/javascript" src="assests/js/geo.js"></script>-->

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

</head>
<body>
{% include 'templates/header.html' %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="assests/js/markerclusterer.min.js"></script>
<script type="text/javascript" src="assests/js/jquery.ui.map.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

{%for pic in pics%}
<div class="picInfo" imgurl="{{pic.pic_url}}" lat="{{pic.latitude}}" lng="{{pic.longitude}}"
     up_date="{{pic.upload_date}}"></div>
{% endfor %}

<script type="text/javascript">
    //imgObjs will hold all of our pics data
    var imgObjs = [];
    $('.picInfo').each(function () {
        var url = $(this).attr('imgurl').trim();
        var latit = $(this).attr('lat').trim();
        var long = $(this).attr('lng').trim();
        //upload_date/up_date is IN MILLISECONDS accurate to teh day
        var upload_date = new Date($(this).attr('up_date').trim().split(' ')[0]).getTime();
        var image = {imgurl: url, lat: latit, lng: long, up_date: upload_date};
        imgObjs.push(image);
    });

/*     var arrayLength = imgObjs.length;
     for (var i = 0; i < arrayLength; i++) {
     document.write('<ul>');
     document.write('<li>'+imgObjs[i].imgurl+'</li>');
     document.write('<li>'+imgObjs[i].lat+'</li>');
     document.write('<li>'+imgObjs[i].lng+'</li>');
     document.write('<li>'+imgObjs[i].up_date+'</li>');

     document.write('</ul>');
     }*/
</script>

<script type="text/javascript">

    //var start_date_int = new Date(new Date().setYear(new Date().getFullYear() - 1)).getTime();
    var start_date_int = new Date(new Date().setDate(new Date().getDate() - 2)).getTime();
    var end_date_int = new Date().getTime();

    $(function () {
        $('#map_canvas').gmap({'zoom': 2, 'disableDefaultUI': true}).bind('init', function (evt, map) {
            var bounds = map.getBounds();
            var southWest = bounds.getSouthWest();
            var northEast = bounds.getNorthEast();
            var lngSpan = northEast.lng() - southWest.lng();
            var latSpan = northEast.lat() - southWest.lat();

            getCorgis(start_date_int, end_date_int);
            // To call methods in MarkerClusterer simply call
            // $('#map_canvas').gmap('get', 'MarkerClusterer').callingSomeMethod();
        });
    });
    function getCorgis(startDate, endDate) {
        //$('#map_canvas').gmap('clearMarkers');
        $('#map_canvas').gmap('clear', 'markers');
        for (var i = 0; i < imgObjs.length; i++) {
            var lng = imgObjs[i].lng;
            var lat = imgObjs[i].lat;
            var uploadDate = imgObjs[i].up_date;
            var pic_img = '<img src='+imgObjs[i].imgurl +' height="100" width="100">';
            //document.write(pic_img);
            //This date comparison should just be comparing numbbers
            if (uploadDate >= startDate && uploadDate <= endDate) {

                $('#map_canvas').gmap('addMarker', {
                    'position': new google.maps.LatLng(lat, lng),
                    'pic_url' : pic_img,
                }).click(function () {
                    //$('#map_canvas').gmap('openInfoWindow', {content: pic_img}, this);
                    $('#map_canvas').gmap('openInfoWindow', {content: this.pic_url}, this);
                });
            }
        }
    }
    ;
</script>



{% if pics|length < 1%}
<br> No pictures yet!

{% else %}
<div id="map_canvas" style="width:750px;height:500px"></div>

<p>
    <label for="amount">Date range:</label>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>

<div id="slider-range"></div>
{%endif%}

<script type="text/javascript">
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: start_date_int,
            max: end_date_int,
            values: [start_date_int, end_date_int],
            slide: function (event, ui) {
                var start_date = new Date(ui.values[0]).toISOString();
                var end_date = new Date(ui.values[1]).toISOString();
                //$("#amount").val("" + ui.values[0] + " - " + ui.values[1]);
                $("#amount").val("" + start_date + " - " + end_date);
            },
            stop : function(event, ui){
                console.log('Start:' + ui.values[0]+ ' End:'+ ui.values[1]);
                getCorgis(ui.values[0], ui.values[1]);
            }
        });

        var start_date = new Date($("#slider-range").slider("values", 0)).toISOString();
        var end_date = new Date($("#slider-range").slider("values", 1)).toISOString();

        //$("#amount").val("" + $("#slider-range").slider("values", 0) + " - " + $("#slider-range").slider("values", 1));
        $("#amount").val("" + start_date + " - " + end_date);
    });

    //document.write(new Date(new Date().setYear(new Date().getFullYear() - 1)).getTime())
</script>

</body>
</html>