<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% include 'templates/header.html' %}
    <h2>Top 3 Trending Streams</h2>
    {% for stream in streams %}
        <a href="/view?stream={{stream.name_safe}}">
            <img src="{{stream.cover_url}}" style="width:128px;height:128px;">
        </a>
        <br>{{stream.name}}
        <ul id="categories">
            <li>viewcount
                <ul id="countnumer">
                    {{stream.count}}
                </ul>
            </li>
            <li>subscribers
                <ul id="emaillist">
                {% for email in stream.subscribers %}
                    <li>{{email}}</li>
                {% endfor %}
                </ul>
            </li>
            <li>tags
                <ul id="taglist">
                {% for tag in stream.tags %}
                    <li>{{tag}}</li>
                {% endfor %}
                </ul>
            </li>
            <li>photos
                <ul id="photolist">
                {% for photo in stream.photos %}
                    <li>{{photo.name}}</li>
                {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}
</body>
</html>